 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('images/black-and-white-aesthetic-1280-x-800-background-gt882wsrplmlcw5f.jpg');
  background-position: 50% 50%, 50% 50%;
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 255px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 21px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 73px auto 0 435px;
  padding: 0 25px 0 23px;
}

.u-section-1 .u-icon-1 {
  font-size: 2em;
  vertical-align: 0px;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.125rem;
  background-image: none;
  margin: -45px 415px 60px auto;
  padding: 9px 24px 11px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 60px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 235px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 215px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 15px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 100px;
    margin-left: 0;
    margin-right: 0;
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 85px;
    margin-left: 39px;
    padding-right: 27px;
    padding-left: 25px;
  }

  .u-section-1 .u-icon-1 {
    font-size: 1.8126em;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -40px;
    margin-right: 17px;
    padding: 7px 23px 9px 22px;
  }
}